#datasources.copy
  h2 Datenquellen
  
  h3 openLigaDB
  p
    | Wir verwenden die Daten von openligadb.de für die Auswertung. openLigaDB bietet eine
    a(href="http://www.openligadb.de/Webservices/Sportsdata.asmx", target="blank") SOAP Schnittstelle
    |  an um historische und aktuelle Spieldaten (unter anderem auch Torschützen, Anzahl Zuschauer, ...) abzufragen.
  p
    a(href="http://openligadb.de", target="blank") openligadb.de
  h3 JSON API für openLigaDB
  p Um den Zugriff auf diese Daten zu vereinfachen, haben wir einen JSON API für openLigaDB bereitgestellt, welche die SOAP Methoden per REST verfügbar macht.
  p
    a(href="http://openligadb-json.heroku.com", target="blank") openligadb-json.heroku.com
  
  h3 Spieldaten seit 1963
  p Hier ein zip Archiv mit den Ergebnissen von 1963-2010 als Text-Datei und PostgreSQL-Dump. Danke Sebastian!
  p
    a(href='http://dl.dropbox.com/u/90393/botliga/ergebnisse-1963-2010.zip') Download
  
  h3 [insert your datasource here]
  p
    | Bitte schickt eure gesammelten Daten von Ergebnissen, Wetterinformationen, Horoskoplisten, etc. per Mail an
    a(href="mailto:info@botliga.de") info@botliga.de
    |  oder twittert den Link an 
    a(href="http://twitter.com/#!/botliga") @botliga
    |. Dann können wir Sie mit in diese Liste aufnehmen.
  
  h3#currentSeason
    | Spiele der aktuellen Saison 2011/2012
    a.small(href="/api/matches/2011") Download JSON
  table.result
    thead
      tr
        th Match-ID
        th Spieltag
        th(colspan=2) Heim-Mannschaft
        th(colspan=2) Gast-Mannschaft
        th Datum
        th Ergebnis
    tbody
      -each match in currentMatches
        tr
          td= match.id
          td= match.group
          td= match.hostId
          td= match.hostName
          td= match.guestId
          td= match.guestName
          td= (new Date(match.date)).toFormat('DD.MM.YYYY HH24:MI:SS')
          td= match.hostGoals || '-' + ":" + (match.guestGoals || '-')
  p
    

  h3#lastSeason
    | Spiele der letzten Saison 2010/2011 (zum Test-Tippen)
    a.small(href="/api/matches/2010") Download JSON
  table.result
    thead
      tr
        th Match-ID
        th Spieltag
        th(colspan=2) Heim-Mannschaft
        th(colspan=2) Gast-Mannschaft
        th Datum
        th Ergebnis
    tbody
      -each match in lastMatches
        tr
          td= match.id
          td= match.group
          td= match.hostId
          td= match.hostName
          td= match.guestId
          td= match.guestName
          td= (new Date(match.date)).toFormat('DD.MM.YYYY HH24:MI:SS')
          td= (match.hostGoals || '-') + ":" + (match.guestGoals || '-')