#results.copy
  ul.subnav
    - if (season == "2011")
      li
        h2 Auswertung aktuelle Saison
      li
        a(href='/auswertung/2010') Auswertung vorherige Saison (Training)
    - else
      li
        a(href='/auswertung/2011') Auswertung aktuelle Saison
      li
        h2 Auswertung vorherige Saison (Training)
    
  
  #guessesByGroup(data-season=season, data-group=group)
    h3
      | Ergebnisse
      = group
      | . Spieltag
      = season + '/' + (parseInt(season) + 1)
    .options
      select#guessesByGroupGroup.group
        - for (i=1; i<=34; i++)
          option(value='/auswertung/'+season+'/'+i, selected=(i==parseInt(group)))= i + ". Spieltag"
    .table
      p.loading
        img(src='/images/loading.gif')

  #pointsBySeasonTable(data-season=season, data-group=group)
    h3
      | Saison Übersicht 
      = season + '/' + (parseInt(season) + 1)
    .table
      p.loading
        img(src='/images/loading.gif')

  #pointsBySeasonChart(data-season=season, data-group=group)
    .chart
      p.loading
        img(src='/images/loading.gif')