#settings
  .copy
    h2 Deine Bots
  ul#botList
    - each bot, i in bots
      li.bot(data-id=bot._id, data-name=bot.name, class= (i > 0 && bot.name === undefined) ? 'hidden' : '')
        h3.name= (bot.name || everyauth.github.user.login+"/bot-" + (i+1))
        .repository
          label(for="botRepository" + i) Github Repository
          select(id="botRepository" + i)
            option(value=everyauth.github.user.login+"/bot-"+ (i+1)) - Repository wählen -
        .api
          span API-Token
          pre= bot.apiToken
        .example
          label API-Aufruf 
            em (Beispiel)
          pre= 'curl -X POST --data "match_id=14181&result=2:1&token=' + bot.apiToken + '" http:\/\/botliga.de/api/guess'
  a.addBot(href="#") weiteren Bot hinzufügen

// temporary disabled crawler
//
//        .noApi
//          input(id="apiMethodPull" + i, type="checkbox", value="true", checked=bot.usePullApi)
//          label(for="apiMethodPull" + i) Ergebnisse abholen lassen 
//            em (alternativ zur API)
//        .noApiDetails
//          p Dein Script wird täglich für jedes Spiel des nächsten Spieltages mit folgenden Parameter aufgerufen.
//          pre.example
//            strong= "http://domain.de/bot" + (i+1) + ".php"
//            span ?match_id=14181&host_id=112&host_name=SC%20Freiburg&guest_id=134&guest_name=Werder%20Bremen
//
//          label(for="botUrl" + i) URL
//          input(id="botUrl" + i, type="url", placeholder="http://domain.de/bot" + (i+1) + ".php", value=bot.url)